* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #2b2b2b;
}
.card {
  width: 380px;
  perspective: 1000px;
  cursor: pointer;
}
.inner-card {
  position: relative;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.front-face {
  backface-visibility: hidden;
}
.front-face img {
  width: 100%;
  border-radius: 10px;
}
.back-face {
  backface-visibility: hidden;
  background: #c62600;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(180deg);
}
.back-face h2 {
  font-weight: 600;
  margin-top: 10px;
  font-size: 50px;
}
.back-face p {
  font-weight: 300;
  font-size: 26px;
}
.social-media i {
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #e43a00;
  border-radius: 50%;
  margin: 25px 6px;
}
.social-media a {
  text-decoration: none;
}
.btn {
  color: #333;
  background: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 0px auto 0;
}
.card:hover .inner-card {
  transform: rotateY(-180deg);
}
